<!DOCTYPE html>
<html class="aa">
<head>
	<meta charset="UTF-8">
	<title>我是分页页面</title>
	<link rel="stylesheet" type="text/css" href="../../libs/initTag.min.css"/>
	<link rel="stylesheet" type="text/css" href="paging.css"/>
	<script src="../../libs/kit.js"></script>
	<script src="paging.js"></script>
</head>

<body>
	<div class="plugin_paging">
		<div class="">
			<button id="prev"  class="btn">&lt;</button>
			<ul class="page_num">
				<li>1</li>
				<li class="currtPage">2</li>
				<li>3</li>
			</ul>
			<button id="next"  class="btn">&gt;</button>
			<input class="page_go" type="number" placeholder="页码" maxlength="3" />
			<button id="GO"  class="btn">GO</button>
		</div>
		<div class="emprty">暂无数据</div>
	</div>
</body>
</html>